.nav{
    grid-area: n;
    background-color: khaki;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}
.item a.activeLink{
    color: gray;
}

.friends a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}